$font-stack: "Roboto", sans-serif;

$water-primary-color: #032973;
$water-secondary-color: #053ba6;
$water-thirdly-color: #457abf;
$water-fourthly-color: #14c5d9;
$water-fifthly-color: #14d9d9;
$warning-primary-color: #f29f05;
$warning-secondary-color: #f27405;
$warning-thirdly-color: #d92b04;
